# Inherit environment from parent directory
source_up

# Source the environment variables from .env for sensitive information
dotenv

# Git CLI configuration
export GIT_AUTHOR_EMAIL="noreply@github.com"
export GIT_AUTHOR_NAME="Handoo AI"
export GIT_COMMITTER_EMAIL="noreply@github.com"
export GIT_COMMITTER_NAME="Handoo AI"
cp $(pwd)/envrc/convex/config.claude-turbo.json ~/.convex/config.json
# cp $(pwd)/envrc/convex/config.claude-turbo.json ~/.convex/config.json
